---
title: "clov3r.com | <3 your site"
---
<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1 class="animated fadeInDown">Add+Good</h1>
      <p class="animated fadeInUp">Add Good is a simple guiding principle, philosophy, that each person has the ability to offer actions and words to people and our tangible world that are positive, beneficial, and desirable.</p>
    </div>
  </div>
</div>
<div class='l-main'>

<article class="type-system-geometric">
  <p class="type">Ben Huntoon</p>
  <p class="date">1 Mar 2015</p>
  <div class="intro">
    <h2>Add Good is the simplest answer I could come up with as to how best to live. What is “Add Good”…..it’s the answer to the question, “What am I to do with my life?” What do we mean by good? We mean something that is positive or desirable in nature. It is difficult for us to grasp the impact our lives have on others and the world we live in. To help imagine the potential of your life, picture the below scenarios playing out in you life, city, world.</h2>
  </div>
  <div class="questions">
    <h1>What would the world be like if...</h1>
    <ul>
      <ol>1.  everyone genuinely smiled at every person they saw?</ol>
      <ol>2.  every child was hugged every day?</ol>
      <ol>3.  every person had clean water for the rest of their lives?</ol>
      <ol>4.  everyone always told the truth?</ol>
      <ol>5.  everyone did their very best at work?</ol>
      <ol>6.  everyone pursued their passion until it came to fruition?</ol>
      <ol>7.  everyone ate a hearty meal with friends and family daily?</ol>
      <ol>8.  everyone only possessed what they needed?</ol>
      <ol>9.  everyone gave away what they didn’t need?</ol>
      <ol>10. everyone was daily told how special they are?</ol>
      <ol>11. everyone was madly in love with someone and that same person was madly in love with them?</ol>
      <ol>12. everyone got eight hours of sleep each night?</ol>
      <ol>13. everyone exercised for an hour each day?</ol>
      <ol>14. everyone daily ate the healthiest food on earth?</ol>
      <ol>15. everyone paused and watched the sun set every night?</ol>
    </ul>
  </div>
  <div class="summary">
    <h3>A perfect word to describe the essence of smiles, hugs, clean water, truth, excellent work, passion, friends, generosity, love, rest, play, and tasty food is GOOD.</h3>
  </div>
  <div class="action">
    <h1>Let's talk</h1>
    <p>ADD GOOD is the simple principle I discovered while searching for a guide to help me in living a full and meaningful life. A little bit of my day is comprised of adding good to me, but most of my day is for the sake of others; the customers my job supports and my family and friends.</p>
    <%= mail_to 'nootnuh@gmail.com', 'Email Ben', class: 'button' %>
  </div>
</article>
</div>
